/bh1750_data_tingkat1.csv
/bh1750_data_tingkat2.csv
/bh1750_data_tingkat3.csv
/bh1750_data_tingkat4.csv
/bh1750_data_tingkat5.csv
/Modul 7 PZEM.xlsx
/Nyoba.py
/PIRarduino
/PSI08.fzz
/pzem004t_data.csv
/pzempercobaan5_data.csv
/pzem_data1.csv
/pzem_data2.csv
/pzem_data3.csv
/pzem_data4.csv
/pzem_data5.csv
/sensor_readings_suhu.csv
/sensor_readings_suhu.xlsx